<div>
    Let's start building your cookbook! Browse our collection for some inspirations.
    Click add on recipe cards you want to try. You can find them in your Cookbook on the left hand side. 
    You can also read other users comments and add your own!
    Happy cooking!
</div>

{{#each recipes as |recipe|}}
{{> recipe-cards}}
{{/each}}