<h1> Let's cook together! We will help you find recipes that won't be too much of a disaster. Click on the All Recipes option to the left to see our full catalog.</h1>
<img src="./images/family_cooking.PNG" 
class="max-w-full h-auto" 
alt="woman cooking with children" />