<div class="grid grid-cols-2">
    <div class="border-r-4 border-pink-200">
        Current User, lease log into your account with your info below.
        <form>   
            <div class="mb-6">
                <input
                type="text"
                class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
                id="email-login"
                placeholder="Email address"/>
            </div>
            <div class="mb-6">
                <input
                type="password"
                class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
                id="password-login"
                placeholder="Password"/>
            </div>
            <div class="text-center lg:text-left">
                <button
                type="button"
                class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
                id="login-form">
                Login
                </button>
            </div>
        </form>
    </div>

    <div>
        New User, Please create an account with your info below.
        <form>   
            <div class="mb-6">
                <input
                type="text"
                class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
                id="email-register"
                placeholder="Email address"/>
            </div>
            <div class="mb-6">
                <input
                type="password"
                class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
                id="password-register"
                placeholder="Password"/>
            </div>
            <div class="text-center lg:text-left">
                <button
                type="button"
                class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
                id="register-form">
                Register
                </button>
            </div>
        </form>
    </div>
</div>


<script src="/public/js/login.js"></script>