<form>   
    <div class="mb-6">
        <input
        type="text"
        class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
        id="email-login"
        placeholder="Email address"/>
    </div>
    
    <div class="mb-6">
        <input
        type="password"
        class="block text-gray-700 text-sm font-bold w-full px-4 py-2 border border-solid border-gray-300"
        id="password-login"
        placeholder="Password"/>
    </div>

    <div class="text-center lg:text-left">
        <button
        type="button"
        class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
        id="login">
        Login
        </button>
        <p class="text-sm font-semibold mt-2 pt-1 mb-0">
        Don't have an account?
        <button
        type="button"
        class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
        id="register">
        Register!
        </button>
    </div>
</form>